[Desktop Entry]
Name=Zoom (v4l2convert)
Comment=Zoom Video Conference (V4L2 conversion wrapper)
Exec=/usr/bin/zoom-v4l2convert %U
Icon=Zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
Name[en_US]=Zoom (v4lconvert)
